<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.web_homework_server.c_mapper.UserMapper">

    <select id="getUser" resultType="org.example.web_homework_server.pojo.User">
        select *
        from user
        where username = #{username}
    </select>

    <insert id="register">
        insert into user (username, password, imgurl)
        values (#{username}, #{password}, #{imgUrl})
    </insert>

    <delete id="delete">
        delete from user where username = #{username}
    </delete>

    <select id="getAllUsers" resultType="org.example.web_homework_server.pojo.User">
        select username, imgUrl
        from user
    </select>

    <select id="login" resultType="org.example.web_homework_server.pojo.User">
        select *
        from user
        where username = #{username} and password = #{password}
    </select>

</mapper>